<div class="back">
  <div class="container">
    <header>
      <h1>Pomodoro<br>CL<span><i class="fa-solid fa-stopwatch"></i></span>CK</h1>
    </header>


    <div class="timer-div">
      <p id="msg">{{running}} time</p>
      <div class="current-timer-div">
        <p>{{ currentTimer }}</p>
      </div>
      <div class="next-timer-div">
        <p>{{preMsg}}: {{nextTimer}}</p>
      </div>

    </div>

    <div class="options-div">
      <button (click)="start()">Start</button>
      <button (click)="pause()">Pause</button>
      <button (click)="toggleDisplay()">Edit</button>
      <button (click)="reset()">Reset</button>
    </div>

    <div class="edit" [style.display]="editDisplay">
      <div class="edit-div">
        <div class="label-div">
          <p>Work time </p><br>
          <p>Break time </p>
        </div>
        <div class="input-div">
          <div>
            <input type="text" #workM [(ngModel)]="workMinutes" maxlength="2"> : <input type="text" #workS [(ngModel)]="workSeconds" maxlength="2">
          </div>
          <div>
            <input type="text" #breakM [(ngModel)]="breakMinutes" maxlength="2"> : <input type="text" #breakS [(ngModel)]="breakSeconds" maxlength="2">
          </div>
        </div>
      </div>
      <div class="error-div">
        <p [hidden]="hideError">Insert a valid time</p>
      </div>
      <button (click)="updateTimer()" (click)="validate()">Apply</button>
    </div>



  </div>
  <footer>
    <div class="icons-div">
      <a href="https://github.com/VictorMuniz7" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </footer>
</div>
